:root {
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
}
.body {
  color: #fff;
  border-top: 0.5px solid rgb(111, 110, 110);
}

.arrowleft {
  display: flex;
  margin-left: 50px;
  gap: 25px;
  align-items: center;
  padding: 10px;
}
.arrowheading {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.arrowicon {
  font-weight: 600;
  font-size: 30px;
}

.mainbody {
  background-color: white;
  width: max-content;
  color: #000;
  width: 832px;
  margin: 0 auto;
  padding: 15px;

  border-radius: 6px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.leftmainpart {
  display: flex;
  gap: 20px;
  height: 30px;
}
.mainfield {
  gap: 10px;
  background: #a9d9ff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  padding: 5px 10px;
  text-align: left;
}
.textpart {
  padding: 10px 20px;
  font-family: Poppins;
  text-align: left;
  letter-spacing: 0em;
  text-align: justify;
}
.midtext {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.largetext {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 8px;
}
.footline {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.foot {
  display: flex;
  gap: 10px;
}

.iconsfoot {
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: center;
}
.answerline {
  display: flex;
  justify-content: space-between;
  width: max-content;
  color: #000;
  width: 832px;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
  color: white;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.sortby {
  display: flex;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  gap: 10px;
  align-items: center;
}
select {
  padding: 5px;
}
.navmainsecond {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.firstpartName {
  display: flex;
  gap: 10px;
  align-items: center;
}
.date {
  font-size: 18px;
  font-weight: 500;
}
.editpart {
  display: flex;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.moretext {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.messagepostsection {
  position: relative;
  display: flex;
  padding: 5px 35px;
  gap: 30px;
}
.likeicon {
  display: flex;
  align-items: center;
  gap: 13px;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 400;
}
.inputfield {
  width: 478px;
  height: 24px;
  padding: 10px;
  border-radius: 1px solid white;
  border: 1px;
  border: none;
}
.noteImage {
  position: absolute;
  right: -200px;
  top: -10px;
}

/*  */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-trigger img {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-menu {
  position: absolute;
  top: -330px;
  right: -240px;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 150px;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  /* height: 20px;
  width: 20px; */
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-60);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: var(--speed) ease;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-text-color);
  line-height: 1.2rem;
}

h3 span {
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.dropdown-menu ul li {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.dropdown-menu ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  margin: 10px auto;
}

.dropdownItem img {
  max-width: 40px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownItem a {
  max-width: 50px;
  margin-left: 10px;
  transition: var(--speed);
}

/* .form {
  position: absolute;
  right: -10px;
  top: 10px;
  width: 300px;
} */
.form-container {
  top: 10px;
  position: absolute;
  right: 100px;
  width: 430px;
  background-color: rgb(147, 136, 136);
}
